.main {
  background-color: #f5f5dc;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: #683b1f;
  min-height: 150px;
  height: auto;
  padding-bottom: 20px;
}

.search-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

.search-section p {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  max-width: 600px;
}

.search-box {
  display: flex;
  gap: 5px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.search-btn {
  padding: 10px 20px;
  background-color: rgb(139, 139, 92);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px;
  transition: 0.5s all ease;
}

.search-btn:hover {
  background-color: rgb(148, 148, 109);
}

/*Categorias*/

.categories-section {
  padding: 60px 0;
  text-align: center;
  padding-top: 20px;
}

.categories-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

/* Tarjeta individual */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

/* Imagen de categoría */
.category-card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.category-card p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.categories-filter {
  background-color: white;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.categories-filter h2 {
  color: #683b1f;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.category-btn {
  background-color: #fff;
  border: 2px solid #683b1f;
  color: #683b1f;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: #683b1f;
  color: #fff;
}

.category-btn.active {
  background-color: #683b1f;
  color: #fff;
}

.clear-filters-btn {
  background-color: rgb(139, 139, 92);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear-filters-btn:hover {
  background-color: rgb(170, 170, 145);
}

/*Recomendations*/

.recommendations {
  padding: 20px;
  background-color: beige;
}

.reservations-link {
  position: absolute;
  left: 20px; 
  background-color: #683b1f;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.reservations-link:hover {
  background-color: #86573a;
}

.recommendations h2 {
  text-align: center;
  margin-bottom: 30px;
  color: black;
  font-size: 26px;
  flex: 1;
}

.recommendations-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  margin-bottom: 25px;
  padding: 0 20px;
}

.favorites-link {
  position: absolute;
  right: 20px; 
  background-color: #683b1f;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.favorites-link:hover {
  background-color:#86573a;
}

.recommendations-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 0 20px;
}

.recommendation-card {
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  
}

.recommendation-card img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

.recommendation-card h3 {
  font-size: 18px;
  margin: 10px 15px 5px;
  color: #333;
}

.recommendation-card p {
  margin: 5px 15px;
  font-size: 14px;
  color: #555;
}

.recommendation-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.recommendation-link img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination button {
  background-color: #838351;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s, transform 0.2s;
}

.pagination button:hover:not(:disabled) {
  background-color: rgb(180, 180, 111);
  transform: scale(1.05);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: beige;
  color: #683b1f;
  font-weight: bold;
  border: 2px solid #683b1f;
  transform: scale(1.1);
}


.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.favorite-btn:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 1);
}

@media (max-width: 1024px) {
  .recommendations-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .recommendation-card img {
    width: 70%;
    height: 180px;
    border-radius: 12px 12px 0 0;
  }

  .categories-filter {
    padding: 20px;
  }

  .filter-buttons {
    gap: 10px;
  }

  .category-btn {
    padding: 8px 14px;
    font-size: 14px;
  }
}


@media (max-width: 768px) {

  /* buscador */
  .search-section {
    height: auto;
    padding: 20px 10px;
    text-align: center;
  }

  .search-section h2 {
    font-size: 22px;
  }

  .search-box {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  input[type="text"] {
    flex: 1;
    min-width: 180px;
    max-width: 300px;
  }

  .date-input {
    width: 45%;
    min-width: 130px;
    font-size: 14px;
  }


  .search-btn {
    flex-shrink: 0;
    padding: 10px 16px;
  }

  /* categorías */
  .categories-grid {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .category-card img {
    width: 120px;
    height: 120px;
  }

  /*filter*/
  .categories-filter {
    padding: 15px;
  }

  .categories-filter h2 {
    font-size: 20px;
    text-align: center;
  }

  .categories-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
  }

  .category-btn {
    padding: 10px 14px;
    font-size: 14px;
  }

  .clear-filters-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }

  /* recomendaciones */
  .recommendations-header {
    
    align-items: center;
    justify-content: center;
    position: static;
    gap: 10px;
  }

  .recommendations-header h2 {
    font-size: 22px;
  }

  .reservations-link{
    position: static;
    margin-top: 5px;
    padding: 7px 14px;
    font-size: 14px;
  }

  .favorites-link {
    position: static;
    margin-top: 5px;
    padding: 7px 14px;
    font-size: 14px;
  }

  .recommendations-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
  }

  .recommendation-card {
    flex-direction: column;
    align-items: stretch;
  }

  .recommendation-card img {
    width: 100%;
    height: 200px;
    border-radius: 12px 12px 0 0;
  }

  .hotel-info {
    padding: 10px 8px;
    gap: 4px;
  }

  .recommendation-card h3 {
    font-size: 16px;
    margin: 8px 0 4px;
  }

  .recommendation-card p {
    font-size: 13px;
    margin: 4px 0;
  }
}


@media (max-width: 430px) {
  .search-section h2 {
    font-size: 18px;
    margin-top: 25px;
  }

  .search-section p {
    font-size: 14px;
    padding: 0 10px;
  }

  .date-input {
    width: 100%;
    font-size: 13px;
    padding: 8px;
  }


  .category-card img {
    width: 90px;
    height: 90px;
  }

  .category-card p {
    font-size: 12px;
  }

  .categories-filter {
    padding: 10px;
    border-radius: 8px;
  }

  .categories-filter h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .categories-grid {
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .category-btn {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
  }

  .clear-filters-btn {
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
  }

  .results-info {
    font-size: 13px;
  }

  .recommendations-header {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }

  .recommendations-header h2 {
    font-size: 20px;
  }

  .reservations-link{
    position: static;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 15px;
  }

  .favorites-link {
    position: static;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 15px;
  }

  .recommendation-card h3 {
    font-size: 16px;
  }

  .recommendation-card p {
    font-size: 12px;
  }

  .hotel-info {
    padding: 8px;
  }

  .pagination {
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 12px;
  }
}