.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    background-color: #42dd7b;
}

.whatsapp-icon {
    font-size: 26px;
}

@media(max-width: 425px) {
    .whatsapp-btn {
        bottom: 20px;
        right: 10px;
    }
}